<div class="comments">
  <% post.comments.each do |comment| %>
    <%= render 'users/partials/post_user', user: comment.user %>
    <div class="commment-content">
      <%= comment.content %>
    </div>
  <% end %>

  <%= render 'comments/form', comment: comment, post: post %>
</div>