<div class="comments">
  <div class="list">
    <% post.comments.each do |comment| %>
      <div class="comment">
        <%= render 'users/partials/post_user', user: comment.user %>
        <div class="commment-content"><%= comment.content %></div>
        <div class="likes">
          <%= render 'likes/partials/like', likeable: comment %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'comments/form', comment: comment, post: post %>
</div>