<%= render 'users/partials/user_profile', user: @user %>
<main class="posts-container">
  <% @user.posts.each do |post| %>
    <%= render 'posts/partials/post', post: post, comment: @comment %>
  <% end %>
</div>
