<section class="user-profile">
  <span class="icon"><%= avatar_for user, link_it: false %></span>
  <div class="name">
    <% if (link |= false) %>
      <%= link_to user.username, user_path(user.username) %>
    <% else %>
      <%= user.username %>
    <% end %>
  </div>
</section>