// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  font-size: 0.85rem;
  background-color: peachpuff;
  padding: 1rem;
  form {
    margin-top: 1rem;
    background-color: $border-color;
    display: flex;
    align-items: center;
    .field {
      margin: 0 1rem;
      flex-basis: 100%;
      textarea {
        width: 100%;
        border-radius: 0.5rem;
        padding: 0.5rem;
      }
    }
    .actions {
      margin-left: 1rem;
      input {
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        background-color: $link-color;
        color: white;
        font-size: 0.8rem;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }
      input:hover {
        filter: brightness(115%);
      }
    }
  }
  .comment {
    margin-top: 1em;
    display: flex;
    align-items: flex-start;
    .commment-content {
      position: relative;
      background-color: $secondary-background-color;
      color: white;
      padding: 0.5rem;
      border-radius: 0.5rem;
      min-height: 32px;
      margin: 0 0.75rem;
    }
  }
}
