$user-name-color: #0089ff;

.user-profile {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: flex-end;

  .icon {
    margin-right: 10px;
  }

  .name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
    color: $user-name-color;
  }

  .email {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.user-inset {
  display: flex;
  align-items: center;
  .icon {
    margin-right: 3px;
  }
  .name {
    font-weight: bold;
  }
}

.gravatar {
  border-radius: 50%;
}
