
<h1>Posts</h1>

<%= render 'form', post: @post %>

<main class="posts-container">
  <% @posts.each do |post| %>
  <%= render 'posts/partials/post', post: post %>
  <% end %>
</main>

<%= link_to 'New Post', new_post_path %>
