// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  .comment {
    margin-top: 1em;
    display: flex;
    align-items: flex-start;
    .commment-content {
      background-color: #d3d3d359;
      padding: 0.5rem;
      border-radius: 0.5rem;
      min-height: 32px;
      margin-left: 10px;
    }
  }
}
