.user-profile {
  display: flex;
  align-items: flex-end;

  .icon {
    margin-right: 10px;
  }

  .name {
    font-size: 32px;
    font-weight: bold;
    font-family: fantasy;
    margin-bottom: 5px;
  }

  .email {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}